section {
    display: table;
  }

  .filler{
    z-index: -1;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-size: 100% 100%;
    background-image: url('https://img.freepik.com/free-vector/simple-blue-gradient-background-vector-business_53876-169287.jpg?w=1800&t=st=1684628641~exp=1684629241~hmac=9a9ae7ab8f4ceb24a5adb7209ddfee1f4e86c6459cae639e59b9d816894cfe88');
    /* background-image: url('https://www.teahub.io/photos/full/3-31459_4k-abstract-wallpaper-data-src-full-105093-abstract.jpg') */
  }
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }

  /* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 98%;
  padding: 15px 0px 15px 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.signupbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signupbtn:hover {
  opacity:1;
}

#dashboardText{
  display: flex;
  position: absolute;
  top: 50%;
  left: 41%;
  font-size: xx-large;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  border: none;
  width: 50%;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  width: 50%;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 15%;
  top: 5%;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

#sendButton:hover,
.sendButton:focus {
  color: black;
  background-color: #888;
  cursor: pointer;
  border-radius: 10%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

.webchat__basic-transcript__scrollable{
  color: white !important
}
.body{
  color: white !important;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}